@CHARSET "UTF-8";
#info-lists {
	margin-top: 20px;
}
#info-lists dl {

}
#info-lists dt {

}

#info-lists dt .title-box {
	font-size: 12px;
	padding-bottom: 5px;
	display: block;
	border-bottom: 1px solid #dddddd;
}
#info-lists dt .title-box .new {
	color: #ff0000;
	vertical-align: middle;
	padding-right: 10px;
	display: table-cell;
}
#info-lists dt .title-box .date {
	vertical-align: middle;
	padding-right: 10px;
	display: table-cell;
}
#info-lists dt .title-box .buttons {
	vertical-align: middle;
	display: table-cell;
}
#info-lists dt .title-box .buttons .edit {
	padding-right: 5px;
}
#info-lists dt .title-box .buttons .delete {

}
#info-lists dt .info-title {
	font-size: 15px;
	margin-top: 5px;
	display: block;
}
#info-lists dt .info-title a {
	font-size: 15px;
	color: #5394d7;
	text-decoration: none;
}
#info-lists dt .info-title a:hover {
	font-size: 15px;
	color: #165391;
	text-decoration: underline;
}
#info-lists dd {
	font-size: 14px;
	line-height: 1.3;
	margin-top: 10px;
	margin-bottom: 20px;
}